@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');
/* 'Almarai', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Press+Start+2P&display=swap');
/* 'Press Start 2P', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Press+Start+2P&family=Tangerine:wght@700&display=swap');
/* 'Tangerine', cursive; */


.text-box {
    background-image: url('/src/components/images/scroll-portrait.png');
    background-size: 100%;
    color: black;  
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center; 
}

.text {
    background-size: 100%;
    color: black; 
    width: 300px; 
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: 0px; 
    padding: 0px;
    font-family: 'Tangerine', cursive;
    font-size: 30px;
}